@import url('https://fonts.googleapis.com/css2?family=Titillium+Web&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Titillium Web', sans-serif;
}
.app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  /* color: #d3c6ff; */
}

a {
  color: #007595;
  text-decoration: none;
}

.tran {
  height: 30px;
  overflow: hidden;
  background-color: rgb(123, 206, 206);
  transition: all 1s ease-in-out;
}
.tran.open {
  height: 130px;
}
